/* Imports */
@import "home", "services", "contactus", "about";
/* Master Styling */
* {
    --theme-base: #ffffff;
    --theme-primary: #364677;
    --theme-secondary: #8A8FC0;
    --theme-text-primary-dark: #333333;
    --theme-text-primary-light: #ffffff;
    --theme-text-secondary: var(--theme-secondary);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    color: var(--theme-text-primary-dark);
    transition: all 0.2s;
}

/* Default Stylings */
//Layouts
nav {
    display: flex;
    align-items: center;
    padding: 0 10%;
    img {
        height: 9vh;
        margin: 0.5rem 0;
    }
    #nav-elements {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-left: auto;
        ul {
            list-style: none;
            display: flex;
            li {
                margin-left: 8rem;
                a {
                    font-size: 2.5rem;
                    text-decoration: none;
                    &:hover {
                        color: var(--theme-text-secondary)
                    }
                }
            }
        }
    }
    #nav-line {
        background-color:var(--theme-base);
        width: 2px;
        height: 9vh;
        border-radius: 1px;
        margin-left: 2rem;
    }
}
body {
    background-color: var(--theme-base);
}
section {
    padding: 4rem 10%;
}
footer {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
        height: 10rem;
    }
}

//Typography
h1 {
    font-size: 10rem;
}
h2 {
    font-size: 5rem;
}
h3 {
    font-size: 4rem;
}
h4 {
    font-size: 3rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 1.5rem;
    font-weight: normal;
}
p, li, img {
    font-size: 1.8rem;
}

//Components
button, input[type="submit"]{
    background-color: var(--theme-primary);
    border: none;
    padding: 1.5rem 3rem;
    outline: none;
    &:hover {
        background-color:var(--theme-secondary);
    }
    a {
        font-size: 2.5rem;
        color: var(--theme-text-primary-light);
        text-decoration: none;
    }
}

// Themes
.section-theme-dark {
    background-color: var(--theme-primary);
    * {
        color: var(--theme-text-primary-light);
    }
}
.section-theme-light {
    background-color: var(--theme-base);
    * {
        color: var(--theme-text-primary-dark);
    }
}

/* Media Queries */
@media screen and (max-width: 832px) {
    //Layout
    nav {
        #nav-elements, #nav-line {
            display:none;
        }
    }
}